  <span id="busuanzi_container_page_pv" style='margin-right:10px'>
    本文总阅读量<span id="busuanzi_value_page_pv" style='color:#2ca6cb'></span>次
  </span>

<% if (page.prev || page.next){ %>

<nav class="article-nav clearfix">
 <% if (page.prev){ %>
 <div class="prev" >
 <a href="<%- config.root %><%- page.prev.path %>" title="<%= page.prev.title %>">
  <strong>上一篇：</strong><br/>
  <span>
  <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(no title)<% } %></span>
</a>
</div>
<% } %>
<% if (page.next){ %>
<div class="next">
<a href="<%- config.root %><%- page.next.path %>"  title="<%= page.next.title %>">
 <strong>下一篇：</strong><br/> 
 <span><% if (page.next.title){ %><%= page.next.title %><% } else { %>(no title)<% } %>
</span>
</a>
</div>
<% } %>
</nav>
<% } %>